.hdr{
max-height: 100%;
height: 100px !important;
background-color: #fff !important;
}
#ftr-links{
display: block !important;
clear:both !important;
/*float: right !important;*/
font-size: 11px !important;
margin: 5px 0px 5px 0px !important;
padding 0px 0px !important;
}
#ftr{
width: 100% !important;
max-width: 100% !important;
/*-webkit-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 10px 5px 0px rgba(0,0,0,0.75);*/

/*-webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);*/
background-color: #000 !important; /*#339966;*/
color: #fff !important;
opacity: 1.0;
filter: alpha(opacity=100);
height: auto;
vertical-align: middle;
/*text-align:center;*/
border-top: 1px solid #ddd/*#194d33*/;
margin-top:1px !important; 
position: relative;
bottom: 0;
display: block;
}

.atree-logo{
float: left;
max-width: 100%;
width: auto;
height: auto;
width: auto\9; /* ie8 */
}
.ftr-logo{
max-width: 100%;
width: auto;
height: auto;
width: auto\9; /* ie8 */
}
.fp-map{
max-width: 100%;
width: auto;
height: auto;
width: auto\9; /* ie8 */
}
iframe{
max-width: 100%;
width: auto;
height: auto;
width: auto\9; /* ie8 */
}

.clearfix {
  overflow: auto;
}
.p-logos{
margin-left: 15px !important;
}